<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header text-center">
          <span class="titulo"
            >LISTADO DE PRODCUTOS<i class="bi bi-clipboard-data"></i
          ></span>
          <button
            type="button"
            class="btn btn-success float-end"
            routerLink="crear-producto"
          >
            Nuevo
          </button>
        </div>
        <div class="card-dody">
          <table *ngIf="listadoprodu.length > 0" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">producto</th>
                <th scope="col">categoria</th>
                <th scope="col">ubicacion</th>
                <th scope="col">precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listadoprodu">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.ubicacion }}</td>
                <td>{{ producto.precio | currency: "USD" }}</td>
                <td class="text-center">
                  <i
                    [routerLink]="['/editar-producto', producto._id]"
                    class="bi bi-pencil-square text-primary"
                  ></i>
                  <i
                    (click)="eliminarproducto(producto._id)"
                    class="bi bi-trash3 text-danger"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>

          <h4 *ngIf="listadoprodu.length == 0">no hay productos</h4>
        </div>
      </div>
    </div>
  </div>
</div>
