<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header text-center">
          <span class="titulo"
            >LISTADO DE PRODCUTOS<i class="bi bi-clipboard-data"></i
          ></span>
          <button
            type="button"
            class="btn btn-success float-end"
            routerLink="crear-producto"
          >
            Nuevo
          </button>
        </div>
        <div class="card-dody">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">producto</th>
                <th scope="col">categoria</th>
                <th scope="col">ubucacion</th>
                <th scope="col">precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>arroz</td>
                <td>comica</td>
                <td>sogamoso</td>
                <td>3500</td>
                <td class="text-center">
                  <i class="bi bi-pencil-square text-primary"></i>
                  <i class="bi bi-trash3 text-danger"></i>
                </td>
              </tr>
              <tr>
                <td>jabon</td>
                <td>limpieza</td>
                <td>sogamoso</td>
                <td>25000</td>
                <td class="text-center">
                  <i class="bi bi-pencil-square text-primary"></i>
                  <i class="bi bi-trash3 text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
